body {
    max-width: 1200px;
    margin: 0 auto;             /* why does the margin:0 auto; not work? */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    padding: 0 16px;
    color: #5b5e6d;  
}

 img {
    width: 100%;
 }

nav {
    display: flex;
    justify-content: space-between;
}

nav img {                     
    width: 20%;               /* why would the img be shrinked in that case? */
    height: auto;
    margin-right: auto;
}

 nav ul {
    list-style: none;
}

h1,
h2,
.serifTitle {
    font-family: 'Times New Roman', Times, serif;
    color: #2C303F;
    line-height: 0.9em;           /* why would the line-height, by default, be less than 0.9em, when I did put the line height in the body element to 1.5em */
}

h1 {
    font-size: 2.5em;
    width: 70%;
}

h2 {
    font-size: 1.8em;
    text-align: center;
}

p {
    color: #5b5e6d;
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 30px 0;
}

.blueButton {
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 0.5em;
    background-color: #192592;
    color: white;
    margin: 0 0 16px 0;
}

.greyBackground{
    background-color: #F4F3F4;
}

main div img {
    width: 50%;
    margin: 20px 0;
}

#signInStyle {
    color: #192592;
}

.serifTitle {
    font-size: 1.5em;
    margin: 40px 0 0;
}

#whiteButton {
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    color: #192592;
}

footer div img {
    width: 50%;
    display: block;
}

footer div:first-child ul {
    list-style: none;
    display: inline-block;
    justify-content: baseline;
    line-height: 2.5em;
}

footer div:last-child ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    gap: 16px;
    padding: 20px 0;
    align-items: center;
}

footer div:last-child div{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    gap: 16px;
    padding: 20px 0;
    align-items: center;
}

footer div:last-child div img{          /* is there a limit to wildly compiling names? */ 
    width: 5%;
}